/*================ Responsive Style End Here ====================*/

@media (max-width: 1225px){
    .footer_contact input{
        width: 70%;
    } 
}
@media (max-width: 1170px){
    .header .main_menu .menu ul li a{
        font-size: 14px;
        font-weight: 500;
    } 
    .header .main_menu .buy_btn{
        width: 18%;
    }
    .banner_content p{
        font-size: 14px;
    }
    .helga_inu_item_1 h3{
        font-size: 18px;
    }
    .helga_inu_item_1 p{
        font-size: 12px;
    }
    .feature{
        padding: 10px;
    }
    .feature h2{
        font-size: 18px;
    }
    .road_map_content_item h4{
        font-size: 20px;
    }
    .road_map_content_item .road_map_content p{
        font-size: 10px;
    }
    .road_map_content_item .road_map_content p i{
        font-size: 16px;
    }

}
@media (max-width: 1100px){
    
    .banner_content h1{
        font-size: 35px;
    }
    .banner_content p{
        font-size: 15px;
        line-height: 25px;
        width: 80%;
    }
    .banner_content a{
        padding: 12px 22px;
        font-size: 18px;
    }
}

@media (max-width: 1024px){
    .header .main_menu .buy_btn a{
        font-size: 14px;
    }
    .helga_inu_content h1{
        font-size: 30px;
    }
    .helga_inu_content p{
        width: 100%;
        font-size: 14px;
        line-height: 25px;
    }
    .feature_section h1{
        font-size: 30px;
    }
    .feature_section p{
        font-size: 11px;
        line-height: 20px;
    }
    .road_map_content_item{
        width: 32%;
        margin-bottom: 20px;
    }
    .road_map_content_item .road_map_content p{
        font-size: 13px;
    }
    .buy_content h1{
        font-size: 30px;
    }
    .buy_content p{
        font-size: 14px;
        line-height: 25px;
    }
    .tab_item p{
        font-size: 14px;
    }
    .social_content_section h1{
        font-size: 30px;
    }
    .social_content_section p{
        font-size: 14px;
        line-height: 25px;
    }
    .tokenomics_right_content{
        margin-top: 10px;
    }
    .tokenomics .tokenomics_left_img img{
        width: 70%;
    }
    .tokenomics_section h1{
        font-size: 30px;
    }

}
@media (max-width: 992px){
    .header .main_menu .menu{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #150333;
        border-top: 1px solid #320d6d;
        padding: 20px;
        opacity: 0;
        visibility: hidden;
        transform-origin: top;
        transform: scaleY(0);
        transition: .3s;
    }  
    .header .main_menu .menu ul{
        flex-direction: column;
    }
    .header .main_menu .menu ul li{
        margin-bottom: 5px;
    }
    .header .main_menu .menu ul li a{
        padding: 10px 20px;
        display: block;
        font-size: 16px;
        border-radius: 5px;
    }
    .active{
        background-color: #1e0742;
    }
    .header .main_menu .menu ul li a::after{
        content: "";
        display: block;
        width: 0%;
        height: 0;
        background-color: transparent;
    }
    .header .main_menu .menu ul li a:hover{
        background-color: #1e0742;
        border-bottom: none;
    }
    .header .main_menu .logo{
        width: 50%;
    }
    .header .main_menu .buy_btn{
        width: 40%;
        text-align: right;
    }
    .header .main_menu .bar_icon{
        width: 10%;
        display: block;
        top: 5px;
    }
    .helga_inu_content_item{
        grid-template-columns: repeat(1, 1fr);
    }
    .helga_inu_item{
        margin-top: 40px;
    }
    .helga_inu_item_1{
        padding: 15px;
    }
    .helga_inu_item_1 h3{
        font-size: 18px;
    }
    .helga_inu_item_1 p{
       font-size: 14px;
    }
    .feature_item{
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 4%;
    }
    .feature{
        padding: 20px;
    }
    .feature_item img{
        width: 60px;
    }
    .feature_item h2{
        font-size: 20px;
    }
    .feature_item p{
        font-size: 13px;
        line-height: 28px;
    }
    .others_link{
        border-right: none;
        width: 50%;
        text-align: center;
    }
    .footer_logo{
        width: 50%
    }
    .footer_contact{
        width: 80%;
        margin: 50px auto;
        text-align: center;
    }
    .footer_contact input{
        width: 50%;
    }
    .banner_content h1{
        margin-top: 20px;
    }
}
@media (max-width: 900px){
    .helga_inu_item_1{
        width: 47%;
        padding: 10px;
    }
    .tokenomics_right_content{
        margin-top: 10px;
    }
    .tokenomics .tokenomics_left_img img{
        width: 80%;
    }

}
@media (max-width: 850px){
    .tokenomics_right_content ul li{
        font-size: 18px;
    }
}
@media (max-width: 830px){
    .road_map_content_item .road_map_content p{
        font-size: 10px;
    }
}
@media (max-width: 768px){
    .feature_item{
        grid-template-columns: repeat(2, 1fr);
    }
    .feature_section h2{
        font-size: 18px;
    }
    .feature_section p{
        width: 100%;
        font-size: 12px;
        line-height: 24px;
    }
    
    .road_map_content_item{
        width: 47%;
        padding: 15px;
    }
    .road_map_content_item .road_map_content p{
        font-size: 14px;
    }
    .road_map_content_item .road_map_content p i{
        font-size: 20px;
    }
    .buy_content_item{
        grid-template-columns: repeat(1, 1fr);
    }
    .buy_tab{
        margin-top: 60px;
    }
    .tab_item p{
        font-size: 16px;
    }
    .buy_section{
        padding: 10px 0 100px 0;
    }
    .banner_content p{
        width: 100%;
    }
    .banner_content a{
        margin-top: 20px;
        font-size: 15px;
    }
    .tokenomics{
        grid-template-columns: repeat(1, 1fr);
    }
    .tokenomics .tokenomics_left_img img{
        width: 50%;
    }
    .tokenomics_right_content{
        width: 33%;
    }
    .tokenomics_header_img img{
        width: 25%;
    }
    
}
@media (max-width: 700px){
    .tokenomics_right_content{
        width: 33%;
    } 
    
}
@media (max-width: 675px){
    .header .main_menu .logo{
        width: 40%;
    }
    .header .main_menu .buy_btn{
        width: 40%;
    }
    .header .main_menu .bar_icon{
        width: 20%;
    }
    .tokenomics_right_content{
        width: 36%;
    } 
}
@media (max-width: 650px){
    .tokenomics_right_content{
        width: 39%;
    } 
    
}
@media (max-width: 600px){
    .footer_contact{
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }
    .footer_contact input{
        width: 60%;
    }
    .banner_content p{
        font-size: 15px;
    }
    .banner_content a{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .header{
        padding: 5px 30px;
    }
    .helga_inu_content h1{
        font-size: 25px;
    }
    .helga_inu_item_1 h3{
        font-size: 16px;
    }
    .helga_inu_item_1 p{
        font-size: 12px;
    }
    .feature_section h1{
        font-size: 25px;
    }
    .feature img{
        height: 60px;
        width: 60px;
    }
    .feature h2{
        font-size: 17px;
        font-weight: bold;
    }
    .feature p{
        font-size: 12px;
    }
    .road_map_section h1{
        font-size: 25px;
    }
    .road_map_section p{
       width: 100%;
    }
    .road_map_content_item .road_map_content p{
        font-size: 12px;
    }
    .road_map_content_item{
        padding: 10px;
    }
    .buy_content h1{
        font-size: 25px;
    }
    .buy_content p{
        width: 90%;
    }
    .social_content_section h1{
        font-size: 25px;
    }
    .social_content_section p{
        width: 100%;
    }
    .tokenomics_right_content{
        width: 42%;
    } 
    .tokenomics_section h1{
        font-size: 25px;
    }

}
@media (max-width: 575px){
    .helga_inu_item_1{
        width: 100%;
    }
    .helga_inu_item_1 h3{
        font-size: 18px;
    }
    .helga_inu_item_1 p{
        font-size: 14px;
    }
    .helga_inu{
        padding: 50px 0;
    }
    .feature_item{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 70px;
    }
    .feature h2{
        font-size: 20px;
    }
    .feature p{
        font-size: 15px;
        line-height: 25px;
    }
    .feature{
        padding: 20px;
    }
    .road_map_content_item{
        width: 100%;
        padding: 20px;
    }
    .road_map_content_item h4{
        font-size: 25px;
        font-weight: 500;
    }
    .road_map_content_item .road_map_content p{
        font-size: 15px;
    }
    .social_link a i{
        width: 57px;
        font-size: 28px;
    }
    .tokenomics_right_content{
        width: 42%;
    } 
    .tokenomics{
        margin-top: 70px;
    }
    .tokenomics .tokenomics_left_img img{
        width: 65%;
    }
    .tokenomics_right_content ul li div{
        width: 17px;
        height: 17px;
    }
    .tokenomics_section{
        padding: 150px 0 50px 0;
    }
    .tokenomics_header_img img{
        width: 27%;
    }
}
@media (max-width: 525px){
    .tokenomics_right_content{
        width: 45%;
    } 
    
}
@media (max-width: 500px){
    .banner_content h1{
        font-size: 29px;
    } 
    .banner_content p{
        font-size: 14px;
        line-height: 23px;
    }
    .tokenomics_right_content{
        width: 46%;
    } 
    
}
@media (max-width: 475px){
    .header .main_menu .logo img{
       height: 70px;
    }
    .header .main_menu .buy_btn a{
        font-size: 13px;
    }
    .header .main_menu .bar_icon i{
       font-size: 18px;
    }
    .helga_inu{
        padding: 20px 0 50px 0;
    }
    .helga_inu_content h1{
        font-size: 23px;
    }
    .feature_section{
        padding: 50px 0;
    }
    .feature_section h1{
        font-size: 23px;
    }
    .feature_section p{
        font-size: 14px;
        line-height: 25px;
    }
    
    .road_map_section{
        padding: 60px 0;
    }
    .road_map_section h1{
        font-size: 23px;
    }
    .road_map_section p{
       font-size: 14px;
       line-height: 25px;
    }
    .buy_content h1{
        font-size: 23px;
    }
    .buy_content p{
        width: 100%;
        font-size: 14px;
        line-height: 25px;
    }
    .buy_tab .tab1{
        padding: 10px;
    }
    .buy_tab .tab2{
        padding: 10px;
    }
    .buy_tab .tab3{
        padding: 10px;
    }
    .tab_item p{
        font-size: 14px;
    }
    .social_content_section h1{
        font-size: 23px;
    }
    .social_content_section p{
       font-size: 13px;
       line-height: 25px;
       width: 100%;
    }
    .social_link a i{
        width: 50px;
        font-size: 28px;
        padding: 10px;
    }
    .road_map{
        margin-top: 60px;
    }
    .tokenomics_section{
        padding: 180px 0 50px 0;
    }
    .tokenomics_right_content{
        width: 50%;
    } 
    .tokenomics_right_content ul li{
        font-size: 17px;
    }
    .tokenomics_section h1{
        font-size: 23px;
    }
    .tokenomics_header_img img{
        width: 30%;
    }
}
@media (max-width: 440px){
    .banner_content h1{
        font-size: 28px;
    }
    .banner_content a{
        font-size: 14px;
        margin-top: 10px;
    }
}
@media (max-width: 425px){
    .footer_logo{
        width: 100%;
        border-right: none;
    }
    .others_link{
        width: 100%;
        margin-top: 40px;
    }
    .footer_contact{
        margin-top: 40px;
    }
    .footer_section p{
        margin-top: 50px;
    }
    .document h3{
        font-size: 16px;
    }
    .document{
        padding: 10px;
    }
    .road_map_content_item h4{
        font-size: 20px;
    }
    .buy_content a{
        font-size: 14px;
    }
    .social_link a i{
        width: 45px;
        font-size: 25px;
    }
    .footer_section{
        padding: 70px 0;
    }
    .header .main_menu .menu ul li a{
        font-size: 14px;
        padding: 10px;
    }
    .banner_content h1{
        margin-bottom: 10px;
    } 
    .tokenomics_right_content{
        width: 58%;
    } 
    
}

@media (max-width: 375px){
    .header .main_menu .logo img{
        height: 60px;
     }
     .header .main_menu .logo{
         width: 30%;
     }
     .header .main_menu .buy_btn a{
         font-size: 12px;
     }
     .header .main_menu .buy_btn{
         width: 50%;
     }
     .header .main_menu .bar_icon i{
        font-size: 16px;
     }
     .header .main_menu .bar_icon{
         width: 20%;
     }
     .header{
        padding: 5px 20px;
    }
    .banner_content h1{
        font-size: 25px;
    }
    .banner_content p{
        font-size: 13px;
        line-height: 18px;
    }
    .banner_content a{
        font-size: 13px;
    }
    .helga_inu_content h1{
        font-size: 20px;
    }
    .helga_inu_content p{
        font-size: 12px;
    }
    .helga_inu_item_1 p{
        font-size: 12px;
    }
    .feature_section h1{
        font-size: 20px;
    }
    .feature_section p{
        font-size: 12px;
    }
    .feature h2{
        font-size: 17px;
    }
    .document h3{
        font-size: 14px;
    }
    .road_map_section h1{
        font-size: 20px;
    }
    .road_map_content_item .road_map_content p{
        font-size: 14px;
    }
    .road_map_section p{
        font-size: 12px;
        line-height: 22px;
    }
    .buy_content h1{
        font-size: 20px;
    }
    .buy_content p{
        line-height: 22px;
        font-size: 12px;
    }
    .buy_tab h2{
        font-size: 16px;
    }
    .social_content_section h1{
        font-size: 20px;
    }
    .social_link a i{
        width: 40px;
        font-size: 20px;
        margin-bottom: 10px;
    }
    .buy_tab .tab_item p{
        font-size: 12px;
    }
    .tokenomics_right_content{
        width: 60%;
    } 
    .tokenomics_right_content ul li{
        font-size: 16px;
    }
    .tokenomics .tokenomics_left_img img{
        width: 80%;
    }
    .tokenomics_header_img img{
        width: 35%;
    }
}
@media (max-width: 340px){
    .road_map_content_item .road_map_content p{
        font-size: 13px;
    }
    .road_map_content_item .road_map_content p i{
        font-size: 17px;
    }    
    .banner_content h1{
        font-size: 25px;
    }
    .banner_content p{
        font-size: 13px;
    }
    .banner_content a{
        font-size: 13px;
        padding: 10px 16px;
    }
    .tokenomics_right_content{
        width: 65%;
    } 
}


/*================ Responsive Style End Here ====================*/