@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #150333;
}
.container{
    width: 80%;
    margin: auto;
}
.container_fluid{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}

/*================= header style part start here================*/
.header{
    background-color: #150333;
    padding: 5px 50px;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
.header .quote_heading{
    padding: 7px 0;
    text-align: center;
    /* border-bottom: 1px solid #170649; */
}
.header .quote_heading h4{
    color: #fff;
    font-size: 8px;
    font-style: italic;
}

.quote_heading_2 h4 {
    color: #fff;
    font-size: 15px;
    font-style: italic;
}

.header .main_menu{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.header .main_menu .logo{
    width: 35%;
}
.header .main_menu .logo img{
    height: 80px;
}
.header .main_menu .menu{
    width: 60%
}
.header .main_menu .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.header .main_menu .menu ul li a{
    font-size: 16px;
    font-weight: 600;
    color: #e9e9e9;
}
.header .main_menu .menu ul li a::after{
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: #ddd;
    transition: .3s;
}
.header .main_menu .menu ul li a:hover::after{
    width: 100%;
}
.header .main_menu .bar_icon{
    width: 7%;
    text-align: right;
    position: relative;
    display: none;
}
.header .main_menu .bar_icon i{
    position: absolute;
    top: -22px;
    right: 0;
    font-size: 20px;
    padding: 6px 12px;
    border: 2px solid #ddd;
    color: #ddd;
    cursor: pointer;
}
.header .main_menu .bar_icon i:nth-child(2){
    padding: 6px 14px;
    opacity: 0;
    visibility: hidden;
}


/*================= header style part end here================*/


/*================= banner style part start here================*/
.banner_section{
    overflow: hidden;
    padding: 0px 0;
}
.banner_content{
  text-align: center;
}


.banner_content_2 {
    text-align: center;
  }

.banner_content h1{
    margin-top: 50px;
    font-size: 45px;
    color: #e9e9e9;
}
.banner_content p{
    width: 80%;
    margin: 20px auto;
    color: #e9e9e9;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
}
.banner_content a{
    display: inline-block;
    margin-top: 40px;
    padding: 12px 20px;
    color: #150333;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    background-color: #ddd;
    margin-bottom: 30px;
}
.banner_content a:focus{
    outline: none
}

/*================= banner style part end here================*/

/*================= helgainu style part end here================*/
.helga_inu{
    padding: 100px 0;
    background-color: #14042e;
}
.helga_inu_content_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1%;
}
.helga_inu_content h1{
    color: #e8e8e8;
    font-size: 34px;
    margin-top: 20px;
}
.helga_inu_content h1 span{
    color: #896fd5;
}
.helga_inu_content p{
    width: 90%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px;
    color: #e9e9e9e9;
    font-weight: 500;
}
.helga_inu_item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
}
.helga_inu_item_1{
    width: 47%;
    padding: 20px;
    box-shadow: 0px 0px 3px 1px #160549;
    margin-bottom: 20px;
    border-radius: 5px;
    background-image: linear-gradient(rgb(18, 2, 43) -31.15%, rgb(25, 3, 59) 69.48%);
}
.helga_inu_item_1 h3{
    color: #e9e9e9;
    font-size: 20px;
    font-weight: 600;
}
.helga_inu_item_1 p{
    margin: 10px;
    font-size: 14px;
    color: #e9e9e9;
    width: 100%;
    margin-left: 0;
}

/*================= helgainu style part end here================*/

/*================= feature style part end here================*/
.feature_section{
    padding: 80px 0;
    background-color: #150333;
}
.feature_section h1{
    text-align: center;
    color: #e9e9e9;
    font-size: 34px;
    margin-bottom: 10px;
}
.feature_section h1 span{
    color: #896fd5;
}
.feature_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin-top: 100px;
}
.feature{
    border: 1px solid #160549;
    border-radius: 5px;
    padding: 20px;
    background-image: linear-gradient(rgb(34, 5, 85) -31.15%, rgb(23, 4, 51) 69.48%);
}
.ft1 img{
    width: 150px !important;
}
.feature img{
    display: block;
    margin-top: 20px;
    height: 60px;
}
.feature h2{
    font-size: 20px;
    color: #e9e9e9;
    margin-bottom: 10px;
    font-weight: 600;
}
.feature p{
    width: 100%;
    margin-left: 0;
    font-size: 12px;
    line-height: 20px;
    color: #e9e9e9;
}
/*================= feature style part end here================*/

/*================= tokenomics style part start here================*/
.tokenomics_section{
    padding: 100px 0;
    background-color: #14042e;
}
.tokenomics_header_img{
    text-align: center;
}
.tokenomics_section h1{
    color: #e9e9e9;
    font-size: 34px;
    margin-bottom: 10px;  
}
.tokenomics{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3%;
    margin-top: 100px;
}
.tokenomics .tokenomics_left_img img{
    width: 50%;
    display: block;
    margin: auto;
}
.tokenomics_right_content{
    width: 60%;
    margin: 30px auto;
}
.tokenomics_right_content ul li{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    color: #e9e9e9;
    font-size: 20px;
}
.tokenomics_right_content ul li div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A648D4;
    margin-right: 20px;
}
.tokenomics_right_content ul li:nth-child(2) div{
    background-color: #cc1141;
}
.tokenomics_right_content ul li:nth-child(3) div{
    background-color: #ff8e01;
}
.tokenomics_right_content ul li:nth-child(4) div{
    background-color: #767fda;
}
.tokenomics_right_content ul li:nth-child(5) div{
    background-color: #350072;
}
.tokenomics_right_content ul li:nth-child(6) div{
    background-color: #6f026b;
}
.tokenomics_right_content ul li:nth-child(7) div{
    background-color: #03a6a1;
}


/*================= tokenomics style part end here================*/

/*================= roadmap style part start here================*/
.road_map_section{
    padding: 100px 0;
    background-color: #150333;
}
.road_map_section h1{
    text-align: center;
    font-size: 34px;
    color: #e9e9e9;
    margin-bottom: 10px;
}
.road_map_section p{
    width: 80%;
    margin: auto;
    font-size: 16px;
    color: #e9e9e9;
    text-align: center;
    line-height: 28px;
}
.road_map{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}
.road_map_content_item{
    width: 24%;
    box-shadow: 0px 0px 4px 1px #170649;
    padding: 15px;
    border-radius: 4px;
    background-image: linear-gradient(rgb(36, 16, 71) -51.15%, rgb(21, 5, 41) 49.48%);

}
.road_map_content_item h4{
    text-align: center;
    color: #d1d1d1;
    font-size: 25px;
    font-weight: normal;
    margin-top: 10px;
}
.road_map_content_item .road_map_content{
    margin-top: 20px;
}
.road_map_content_item .road_map_content p{
    text-align: left;
    width: 100%;
    margin-left: 0;
    font-size: 13px;
}
.road_map_content_item .road_map_content p i{
    margin-right: 10px;
    color: #2e2b9e;
    font-size: 18px;
}
/*================= roadmap style part end here================*/


/*================= buy style part start here================*/
.buy_section{
    padding: 100px 0;
    background-color: #14042e;
}
.buy_content_item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
}
.buy_content h1{
    font-size: 34px;
    color: #e9e9e9;
    margin-bottom: 20px;
}
.buy_content h1 span{
    color: #896fd5;
}
.buy_content p{
    width: 90%;
    font-size: 16px;
    color: #d1d1d1;
    line-height: 28px;
    font-weight: 500;
}
.buy_content a{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 20px;
    background-color: #ddd;
    color: #150333;
    border-radius: 50px;
    font-weight: 600;
}
.buy_tab h2{
    color: #150333;
    font-size: 18px;
    padding: 10px;
    background-color: #ddd;
    cursor: pointer;
}
.buy_tab .tab_item{
    margin-bottom: 20px;
    position: relative;
    color: #ddd;
}
.buy_tab .tab_item i{
    position: absolute;
    top: 6%;
    right: 10px;
    color: #14042e;
    font-size: 25px;
    cursor: pointer;
}
.buy_tab .tab1{
    padding: 20px;
    border: 1px solid #ddd;
    /* display: none; */
}
.buy_tab .tab2{
    padding: 20px;
    border: 1px solid #e9e9e9;
    display: none;
}
.buy_tab .tab3{
    padding: 20px;
    border: 1px solid #e9e9e9;
    display: none;
}
.tab_item p{
    line-height: 35px;
}

/*================= buy style part end here================*/

/*================= social style part start here================*/
.social_content_section{
    padding: 70px 0;
    /* background-image: linear-gradient(rgb(39, 11, 83) -31.15%, rgb(20, 6, 43) 69.48%);s */
    background-color: #f3f3f3;
}
.social_content_section h1{
    font-size: 34px;
    /* color: #e9e9e9; */
    color: rgb(39, 11, 83);
    text-align: center;
    margin-bottom: 10px;
}
.social_content_section p{
    text-align: center;
    /* color: #e9e9e9; */
    color:rgb(39, 11, 83);
    font-weight: 500;
    font-size: 16px;
}
.social_content_section span{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #896fd5;
    font-size: 14px;
}
.social_link{
    margin-top: 50px;
    text-align: center;
}
.social_link a i{
    width: 70px;
    font-size: 35px;
    background-color: #ddd;
    padding: 15px 10px;
    border-radius: 5px;
    color: #5d5de6;
}
.social_link a:nth-child(2) i{
    color: #f84077;
}
.social_link a:nth-child(3) i{
    color: blue;
}
.social_link a:nth-child(4) i{
    color: #4cb4dd;
}
.social_link a:nth-child(5) i{
    color: #4897bb;
}
.social_link a:nth-child(6) i{
    color: red;
}
/*================= social style part end here================*/

/*================= footer style part end here================*/
.footer_section{
    padding: 100px 0;
    background-color: #f3f3f3;
    border-top: 1px  solid #e9e9e9;
}
.footer_content{
   display: flex;
   flex-wrap: wrap;
   justify-content:  space-evenly;
}
.footer_logo{
    width: 30%;
    border-right: 2px solid #150333;
    text-align: center;
}
.others_link{
    width: 30%;
    border-right: 2px solid #150333;
}
.others_link h3{
    color: #150333;
    font-size: 20px;
    margin-bottom: 10px;
}
.others_link a{
    display: block;
    color: #150333;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
.footer_contact{
    width: 30%;
}
.footer_contact input{
    width: 80%;
    padding: 10px;
    border: 1px solid #150333;
    border-radius: 5px;
    margin-top: 30px;
    color: #444;
}
.footer_contact button{
    padding: 11px;
    border: none;
    background-image: linear-gradient(rgb(34, 13, 70) -51.15%, rgb(21, 5, 41) 49.48%);
    color: #fff;
    border-radius: 4px;
}
.footer_icon{
    margin-top: 30px;
}
.footer_icon a i{
    font-size: 30px;
    width: 50px;
    color: #150333;
}
.footer_section p{
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
    color: #444;
}
.footer_section p span{
    color: #150333;
    font-size: 16px;
    font-weight: bold;
}

.first_image {
  display: block;
  text-align: center;
  width: 100%;
}
/*================= footer style part end here================*/